.grouping
  %h1 Listing Users

  .scrollable
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th Email
          %th Username
          %th Admin

      %tbody
        - User.all.each do |user|
          %tr
            %td= user.email
            %td= user.username
            %td= user.admin
  %br

  -#= link_to 'New User', new_user_path, class: "btn btn-outline-dark"
