%h1 Listing Users

%table
  %thead
    %tr
      %th Email
      %th Username
      %th Admin

  %tbody
    - User.all.each do |user|
      %tr
        %td= user.email
        %td= user.username
        %td= user.admin
%br

