.jumbotron.mb-3
  %h1.display-5 You're good to go!
  %p.lead Your new Rails application is working.
  %p
    This is a basic
    = link_to 'Bootstrap 4', 'https://getbootstrap.com/docs/4.0/getting-started/introduction/'
    template with minimal additional CSS, using
    = link_to 'FontAwesome 5 Free', 'https://fontawesome.com/icons?d=gallery&m=free'
    for icons.