-# Inform admin when the month timeline is generated
-# Author: Maxime Fontana, Michael Vickers
-# Date: 04/2020

.grouping
  %h1 Month Timeline correctly generated

  %td= link_to 'Back', studies_path
