@import 'bootstrap';

.grouping{
  padding-left: 5%;
  padding-right: 5%;
}

.background-colour2 {
  background-color: #efedf0;
}

.table-size{
  width: 50%;
}

thead{
  background-color: #c0c0c0;
}

.scrollable{
  width: 1500px;
  overflow: scroll;
}
